.a1 {
color:red;
font-family:'Times New Roman', Times, serif;
font-size: 18pt;
} 
.a2 {
    color:yellow;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
}
.a3 {
    color: green;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22pt;
}
   h1 {
    font-family: 'Monotype Corsiva';
    color: purple;
   } 
   h2 {
    font-family: 'Monotype Corsiva';
    color: purple;
   } 
   h3 {
    font-family: 'Monotype Corsiva';
    color: purple;
   } 